.a {
	background-color: white;
	color: black;
}

.b {
	background: white;
	color: black;
}

.c {
	background-color: white;
	color: white;
}

.d {
	background: white;
	color: white;
}

.e {
	background-color: black;
	color: black;
}

.f {
	background: black;
	color: black;
}
